<a href="#" style="margin: 16px;" (click)="logout()">Logout</a>
<h1>Conference Room Scheduler</h1>
<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Next
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        <div *ngIf="!isEdit">
            <button class="btn btn-warning float-right" (click)="addEvent()">
                Add new event
            </button>
        </div>
        <div *ngIf="isEdit">
            <h3 style="text-align: center;">Event Details</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month">
                Month
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week">
                Week
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                Day
            </div>
        </div>
    </div>
</div>
<div class="newEvent" *ngIf="isEdit">
    <div class="table-responsive margins">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Title: </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="modalData.event.title"
                            (keyup)="refresh.next()" />
                    </td>
                </tr>
                <tr>
                    <td>Primary Color: </td>
                    <td>
                        <input type="color" [(ngModel)]="modalData.event.color.primary" (change)="refresh.next()" />
                    </td>
                </tr>
                <tr>
                    <td>Secondary Color: </td>
                    <td>
                        <input type="color" [(ngModel)]="modalData.event.color.secondary" (change)="refresh.next()" />
                    </td>
                </tr>
                <tr>
                    <td>Event Start: </td>
                    <td>
                        <mat-form-field>
                            <input matInput [ngxMatDatetimePicker]="start" placeholder="Choose a date & time"
                                [(ngModel)]="modalData.event.start">
                            <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #start [stepMinute]="5" [enableMeridian]="true"></ngx-mat-datetime-picker>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>Event End: </td>
                    <td>
                        <mat-form-field>
                            <input matInput [ngxMatDatetimePicker]="end" placeholder="Choose a date & time"
                                [(ngModel)]="modalData.event.end">
                            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #end [stepMinute]="5" [enableMeridian]="true"></ngx-mat-datetime-picker>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>Invitees: </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Invitees</mat-label>
                            <mat-select [formControl]="usersControl" ngDefaultControl multiple>
                                <mat-option *ngFor="let user of users" [value]="user.email">
                                    {{user.firstName}} {{user.lastName}}, {{user.email}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <button *ngIf="!isEdit" style="margin-top: 16px;" class="btn btn-danger"
                    (click)="deleteEvent(modalData.event)">
                    Delete
                </button>
                <button *ngIf="isEdit" style="margin: 16px;" class="btn btn-success"
                    (click)="saveEvent(modalData.event)">
                    Save
                </button>
                <button *ngIf="isEdit" style="margin: 16px;" class="btn btn-danger"
                    (click)="isEdit = false">
                    Close
                </button>
            </tfoot>
        </table>
    </div>
</div>
<br />
<div class="margins" [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>
