<mat-toolbar style="margin-top: 128px;" fxLayout="column" fxLayoutAlign="center center">
    <h1>Forgot Your Password?</h1>
</mat-toolbar>
<div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <form [formGroup]="this.form" #formData='ngForm' (ngSubmit)='onSubmit(formData)' fxLayout="column"
            style="max-width:600px; margin:32px; width:90%">
            <div class="form-group" style="margin-bottom: 32px;">
                <mat-form-field style="flex: 1 1 0px">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" required>
                    <mat-error *ngIf="this.form.controls['email'].invalid">Email is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>

            <button mat-button [disabled]="!formData.valid" (click)="onSubmit(formData)">
                Submit
            </button>
        </form>

        <div style="margin-bottom: 32px;">
            <span>Don't have an account?<a mat-button routerLink="/register"> Sign Up</a></span>
        </div>

    </div>
</div>